
.container {
            display: flex;
            background-color: white;
            padding-top: 10px;
            margin: 100px;
        }
        .filters {
            width: 25%;
            padding: 0px;
            border-right: 2px solid  #964b00;
           border-width: 10px;
           margin-top: 100px;
           
        }
        .products {
            width: 75%;
            padding: 20px;
            margin: 0px;
           
           
            }
        
        .product {
            width: calc(33.33% - 60px); 
            margin: 23px; 
            text-align: center;
         }
        
        .product img {
            width: 250px; 
            height: 300px;
            background-color: white; 
          
        }
        
        .product:hover img {
            transform: scale(1.1); 
            transition: transform 0.3s; 
        }
        .categories {
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;
            margin-top: 30px;
          
           
        }
      .add-to-cart {
            background-color: #4CAF50;
            color: white;
            padding: 10px 200px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin-top: 10px;
            cursor: pointer;
           
        }
    
        .cart-item {
            margin-bottom: 10px;
         
            padding: 100px;
        }

        #con .container{
            padding: 10px;
     margin-top: 40px;
    border-radius: 25px;
      display: flex;
           
            overflow: hidden;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
          
            width: 100%;
           background-color: rgb(0, 0, 0);
            
          
        }
        .image {
            flex: 1; 
        }
        .image img {
            width: 100%; 
            height: 500px;
            border-radius: 34px;
        }
        .text {
            
            flex: 1;
            padding: 0px;
            color: #f5f0f0; 
            text-align: right;
            margin: 1px;
            padding-top: 50px;
            flex-direction: column; 
            display: flex;
        }
       
         h1 {
            text-align: center;
            margin: 0;
            font-size: 3em;
            font-weight: bold; 
            color: #f80202; 
           
            padding: 15px; 
            border-radius: 50px; 
            text-shadow: 2px 2px 5px rgba(236, 88, 88, 0.7);
            font-size: 40px;
            border-right: 15px solid  #964b00;
            border-left: 15px solid  #964b00;
        }
        
        p {
            line-height: 1.6;
            margin: 10px 0;
            font-size: 16px;
           
        }
        h2{
            text-align: center;
            margin: 0; 
            font-size: 3em; 
            font-weight: bold; 
            color: #121111; 
           
            padding: 15px; 
            border-radius: 50px; 
            text-shadow: 2px 2px 5px rgba(236, 88, 88, 0.7);
            font-size: 40px; 
        }
        .full-width-video {
            position: absolute; 
            top: 50%;
            left: 40%;
            width: 500px;
            height: 200px; 
            min-width: 100%; 
            transform: translate(-50%, -50%); 
        } 
        #con .container1{
            padding: 10px;
     margin-top: 40px;
    border-radius: 25px;
      display: flex;
           
            overflow: hidden;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
          
            width: 100%; 
           background-color: rgb(0, 0, 0);
            
          
        }
        .video-container {
            position: relative;
            width: 700px;
            height: 400px; 
            overflow: hidden;
         
        }
        h5{
            color: #f80202;
        }
        .image-container {
            position: relative;
            display: inline-block;
        }
        
        .new-label {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: rgba(48, 241, 27, 0.7);
            color: white;
            padding: 5px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 14px;
            width: 60px;
        }
        
        img {
            max-width: 100%;
            height: auto;
        }
        .image-container {
            position: relative;
            display: inline-block;
        }
        
        .new-label1 {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: rgba(57, 76, 247, 0.7); 
            color: rgb(247, 241, 241);
            padding: 5px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 14px;
            width: 70px;
        }
        
        img {
            max-width: 100%;
            height: auto;
        }
         
        .heart {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            background-image: url('https://i.pinimg.com/originals/3e/48/1c/3e481c2829e5a3d42fe92bcb92f33de8.gif'); 
            background-size: cover;
            background-repeat: no-repeat;
        }
        .heart.active {
            background-image: url('https://em-content.zobj.net/source/animated-noto-color-emoji/356/green-heart_1f49a.gif'); 
        }
        .product {
           
            position: relative;
           
        }
        footer {
            background-color: #964b00;
            color: white;
            padding: 20px;
            text-align: center;
        }
        .footer-links,
        .contact-info {
            margin: 10px 0;
        }
        .footer-links a,
        .contact-info p {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-size: 16px;
        }
        
        .quick-links {
            margin: 20px 0;
        }
        .quick-links a {
            margin: 0 10px;
            font-size: 16px;
            color: white;
            text-decoration: none;
        }
        .social-media {
            margin-top: 15px;
            text-align: center; 
        }
        .social-media a {
            margin: 0 10px;
            color: rgb(244, 243, 243);
            text-decoration: none;
            font-size: 20px;
        }
        .quick-links a:hover{
            background-color: #cc9e83;
            border-radius: 50px;
            padding: 5px;
        }
        .social-media a:hover {
            color: #ffcc00;
        }
       
        .product .view-details {
            position: absolute;
            top: 90%; 
            left: 50%;
            transform: translate(-50%, -50%);
            display: none; 
            background-color: rgba(14, 13, 13, 0.9); 
            padding: 5px 10px;
            border-radius: 5px;
            color: #fcfcfc; 
            font-size: 20px; 
            text-align: center; 
            cursor: pointer; 
            text-decoration: none;
        }
        
        .product:hover .view-details {
            display: block; 
        }
        .logo {
            padding: 0px;
            text-align: center;
            position: relative;
        }
        
        .logo img {
            border-radius: 500%;
            width: 40px;
            height: 40px;
            margin-bottom: 0px;
        }
        
        .logo h1 {
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
           animation: moveLetters 1s infinite alternate;
        }